@mixin boxShadow($horz, $vert, $blur, $color) {
  -webkit-box-shadow: $horz $vert $blur $color;
  -moz-box-shadow: $horz $vert $blur $color;
  box-shadow: $horz $vert $blur $color;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto auto;
  grid-template-areas: 
    "nav nav nav"
    "crsl crsl crsl"
    "feat feat feat";
  grid-gap: 1rem;
  max-width: 1140px;
  //min-height: 100vh;
  margin: auto;

  .nav_bar {
    grid-area: nav;
    text-align: center;
  }

  .main-carousel {
    grid-area: crsl;
    text-align: center;
  }

  .main-content {
    grid-area: feat;
    //text-align: center;

    .items {
      display: flex;
      justify-content: space-between;
      margin: 25px 0;

      .card {
        border-radius: 0!important;
        transition: 0.3s;

        img {
          border-radius: 0!important;
        }
        
        &:hover {
          @include boxShadow(0px, 5px, 10px, rgba(0,0,0,0.25));
        }
      }
    }
  }

}

@media screen and (max-width: 768px) {
  .items {
    flex-direction: column;
    align-items: center;

    .card {
      margin-bottom: 1rem;
    }
  }
}