@import '_boxshadow';

.form-container {
  max-width: 590px;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
  border: 1px solid #e7e7e7;
  @include boxShadow(0, 5px, 10px, rgba(0,0,0,0.25));

  .header {
    padding: 1rem;

    h1 {
      margin-bottom: 0;
    }
  }

  hr {
    margin: 0;
  }

  .form {
    padding: 1rem;
  }
}