@import '_boxshadow';

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-template-areas: 
    "nav nav nav"
    "crsl crsl crsl"
    "feat feat feat"
    "fdbck fdbck adv";
  grid-gap: 1rem;
  max-width: 1140px;
  //min-height: 100vh;
  margin: auto;

  .nav_bar {
    grid-area: nav;
    text-align: center;
  }

  .main-carousel {
    grid-area: crsl;
    text-align: center;
  }

  .main-content {
    grid-area: feat;
    //text-align: center;

    .items {
      display: flex;
      justify-content: space-between;

      .card {
        border-radius: 0!important;
        transition: 0.3s;

        img {
          border-radius: 0!important;
        }
        
        &:hover {
          @include boxShadow(0px, 5px, 10px, rgba(0,0,0,0.25));
        }
      }
    }
  }

  .feedback {
    grid-area: fdbck;

    .jumbotron {
      background-color: #fff;
      border: 1px solid #e0e0e0;
      border-radius: 4px;
      padding: 2rem!important;
    }

    #feedback-success {
      text-align: center;
      background-color: #34ce57;
      color: #f8f8f8;
      padding: 7.5rem 1rem;
      display: none;

      h1 {
        font-weight: 800;
        margin-bottom: 1rem;
      }
    }
  }

  .advert {
    align-self: center;
  }

}

@media screen and (max-width: 768px) {
  .items {
    flex-direction: column;
    align-items: center;

    .card {
      margin-bottom: 1rem;
    }
  }

  .feedback {
    padding: 1rem;
  }
}