@import '_boxshadow';

.wrapper {
  max-width: 1140px;
  margin: auto;

  .main-section {

    h1 {
      margin: 25px 0 25px 15px;
    }
  }

  a {
      color: rgb(33, 37, 41);
      text-decoration: none;
    }

  .card {
    padding: 1rem 1rem;
    margin-bottom: 0;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    transition: 0.3s ease;

    p {
      font-size: 1rem;
    }
    &:hover {
      @include boxShadow(0, 5px, 10px, rgba(0,0,0,0.25));
    }
  }
}